.title,
.searchByBar,
.contractBar,
.inputBar,
.allResult {
  display: flex;
  justify-content: center;
  margin-top: 17px;
}

.searchByBar > label {
  font-size: 20px;
  margin-right: 50px;
}

.inputBar {
  font-size: 20px;
}

.btn {
  margin: 3px;
}

.eachResult {
  width: 400px;
  margin: 13px;
}

.allResult {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
