.businessProfileContainer {
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.businessProfileTitle {
  margin-bottom: 30px;
}

.businessProfile {
  padding: 25px;
}

.businessProfileEachResult {
  margin-bottom: 13px;
}

.businessProfileButtons {
  display: flex;
  justify-content: center;
}

.businessProfileEdit {
  margin-top: 13px;
  width: 130px;
}

.businessProfileSubmit {
  margin-right: 5px;
  margin-top: 13px;
  width: 130px;
}

.businessProfileCancel {
  margin-left: 5px;
  margin-top: 13px;
  width: 130px;
}
