.searchByBar,
.contractBar,
.inputBar,
.allResult {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.searchJobTitle {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.fullTimeButton,
.partTimeButton,
.allButton {
  width: 100px;
  margin: 5px;
}

.searchByBar > label {
  font-size: 20px;
  margin-right: 50px;
}

.inputBar {
  font-size: 20px;
}

.eachResult {
  width: 400px;
  margin: 13px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 25px;
}

.allResult {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
}

.eachLineResult {
  margin-left: 10px;
}
