.html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
p {
  margin-left: 20px;
}

form {
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
  width: 500px;
  margin-left: 1em;
  box-shadow: 10px 10px 5px gray;
}

ul {
  list-style: none;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

li {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}

label {
  display: inline-block;
  width: 200px;
}

input {
  width: 250px;
  border: 1px solid grey;
}

select {
  width: 250px;
  border: 1px solid grey;
  vertical-align: top;
}

textarea {
  height: 7em;
  width: 250px;
  vertical-align: top;
}

ul > li > button {
  display: flex;
  justify-content: center;
}

li > button {
  font-weight: bold;
  justify-content: center;
}

.webcamBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photoContainer {
  border: 10px black;
  position: relative;
  border-radius: 50px;
  margin: 10px;
}

.photo {
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 49px;
  margin-left: 73px;
}

.webcamButton {
  margin: 30px;
  padding: 20px;
}
