.createBusinessProfileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 70px;
}

.createBusinessProfile {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  padding: 25px;
}

.createBusinessProfileSubmit {
  margin-top: 10px;
  width: 250px;
}
