.title {
  text-align: center;
  padding-bottom: 20px;
}

.hh-logo {
  max-width: 150;
  max-height: 150;
  border-radius: 30px;
  margin: auto;
  padding-bottom: 10px;
}

.freelancerDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  padding-top: 20px;
  margin: auto;
  font-family: Impact, Haettenschweiler, “Arial Narrow Bold”, sans-serif;
  max-width: 37%;
  border: solid black 1px;
  border-radius: 30px;
  padding: 10px;
  padding-right: 10px;
  box-shadow: 6px 12px 4px grey;
  margin-bottom: 20px;
}
.back-btn {
  background: #198754;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  color: white;
  margin-bottom: 10px;
}
