.homepage-menu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.bg-image {
  margin-top: 5px;
  max-width: 400px;
  max-height: 400px;
}

.signUp_btn {
  padding: 17px;
  margin-top: 25px;
  background: #198754;
  border: none;
  color: white;
  font-size: 1.5rem;
  border-radius: 8px;
}

.login_btn {
  padding: 17px;
  margin-top: 20px;
  margin-bottom: 30px;
  background: #198754;
  border: none;
  color: white;
  font-size: 1.5rem;
  border-radius: 8px;
}

.p {
  margin: auto;
}

.flip-in-hor-bottom {
  -webkit-animation: flip-in-hor-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: flip-in-hor-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
