.homepage-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 89vh;
}

.logo {
  scale: 1.3;
  margin-bottom: 100px;
}

.loginButton {
  width: 130px;
  margin-right: 40px;
  scale: 1.2;
}

.signupButton {
  width: 130px;
  margin-left: 40px;
  scale: 1.2;
}

.loggedIn {
  font-size: 25px;
}
