.homepage-menu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.bg-image {
  margin-top: 5px;
  max-width: 400px;
  max-height: 400px;
}

.signUp_btn {
  padding: 17px;
  margin-top: 25px;
  background: #198754;
  border: none;
  color: white;
  font-size: 1.5rem;
  border-radius: 8px;
}

.login_btn {
  padding: 17px;
  margin-top: 20px;
  margin-bottom: 30px;
  background: #198754;
  border: none;
  color: white;
  font-size: 1.5rem;
  border-radius: 8px;
}

.p {
  margin: auto;
}
