.job-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  font-family: Impact, Haettenschweiler, “Arial Narrow Bold”, sans-serif;
  /* text-align: center; */
}

.btn {
  margin: auto;
  text-align: center;
}
