.eachJobDetailsResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  width: 420px;
  word-wrap: break-word;
}

.eachJobDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 70px;
}

.eachJobDetailsTitle {
  margin-bottom: 30px;
  margin-top: 70px;
}

.eachJobDeatilsBack {
  width: 250px;
  margin-top: 7px;
}
