.onboardingContainer {
  margin: 10px 0;
}

.onboardingHeader {
  display: flex;
  justify-content: center;
}

.onboarding {
  display: flex;
  flex-direction: column;
  margin: auto;
  row-gap: 10px;
  align-items: center;
}
