.signUpContainer {
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .signUpHeader {
    margin-bottom: 30px;
  }
}

.signUp {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  padding: 25px;

  .form-group:nth-child(4) {
    margin: auto;
    margin-top: 10px;
  }
  .alert.alert-danger {
    margin: 0;
  }
}
