.buttons {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.userPhoto {
  margin-bottom: 8px;
}

.userProfile {
  margin-bottom: 50px;
}

.photoButton {
  margin-bottom: 20px;
}

.camGrid {
  display: grid;
  margin-left: 11px;
}

.webcamForUserPofile {
  position: relative;
  margin-bottom: 3px;
}

.editedPhoto {
  width: 300px;
  position: absolute;
}

.cancelRetakeButton {
  margin-bottom: 20px;
  margin-left: 11px;
}

.retake {
  margin-bottom: 20px;
}

.captureImgButton,
.saveImgButton,
.retakeImgButton {
  width: 200px;
  display: flex;
  justify-self: center;
}
