.buttons {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.userPhoto {
  margin-top: 8px;
  margin-bottom: 8px;
  border: solid 3px black;
}

.userProfile {
  margin-bottom: 50px;
}

.photoButton {
  margin-bottom: 20px;
}

.camGrid {
  display: grid;
}

.webcam {
  position: relative;
  margin-bottom: 3px;
}

.camImage {
  position: absolute;
  top: -45px;
  left: -23px;
}

.cancelImg {
  margin-top: -5px;
  margin-bottom: 20px;
}

.retake {
  margin-bottom: 20px;
}

.captureImg,
.saveImg,
.retakeImg {
  width: 200px;
  display: flex;
  justify-self: center;
}
